h1 { color: purple; }
p { color: pink; }

.hello {color: red;}
.sheep {color: blue;}

#birth {color: lightblue;}

.back {background: red;}
.gradient {
background: linear-gradient(to right , #38a092 , #fdbf3b);color: white;}